//Microsoft Visual C++에서 생성한 리소스 스크립트입니다.
//
#include "resourceppc.h"

#define APSTUDIO_READONLY_SYMBOLS
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE 2 리소스에서 생성되었습니다.
//
#define APSTUDIO_HIDDEN_SYMBOLS
#include "windows.h"
#include "resdefce.h"
#undef APSTUDIO_HIDDEN_SYMBOLS
/////////////////////////////////////////////////////////////////////////////
#undef APSTUDIO_READONLY_SYMBOLS

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_KOR)
LANGUAGE 18, 1
#pragma code_page(949)

/////////////////////////////////////////////////////////////////////////////
//
// 아이콘
//

// 응용 프로그램 아이콘이 모든 시스템에서 일관된 상태를 유지하도록 하기 위해
// 가장 낮은 ID 값을 갖는 아이콘이 맨 처음 배치됩니다.

IDI_BUP_TEST       ICON         "BUP_Test.ico"

/////////////////////////////////////////////////////////////////////////////
//
// 메뉴
//

IDR_MENU MENU DISCARDABLE 
BEGIN
    POPUP "도움말"
    BEGIN
        MENUITEM "정보",		IDM_HELP_ABOUT
    END
END

/////////////////////////////////////////////////////////////////////////////
//
// 액셀러레이터 키
//

IDC_BUP_TEST ACCELERATORS
BEGIN
    "A",            IDM_HELP_ABOUT,         VIRTKEY, CONTROL, NOINVERT
    "Q",            IDM_OK,          VIRTKEY, CONTROL, NOINVERT
END


/////////////////////////////////////////////////////////////////////////////
//
// 대화 상자
//

IDD_ABOUTBOX DIALOG 0, 0, 156, 129
STYLE DS_SETFONT | DS_FIXEDSYS | WS_POPUP | WS_CAPTION
EXSTYLE WS_EX_CAPTIONOKBTN
CAPTION "BUP_Test 정보"
FONT 9, "MS Sans Serif"
BEGIN
    ICON         IDI_BUP_TEST,IDC_STATIC_1,12,12,21,20,SS_REALSIZEIMAGE
    LTEXT        "BUP_Test 버전 1.0",IDC_STATIC_2,12,36,70,8,SS_NOPREFIX
    LTEXT        "Copyright (C) 2009",IDC_STATIC_3,12,48,66,8
END

IDD_ABOUTBOX_WIDE DIALOG 0, 0, 210, 129
STYLE WS_POPUP | WS_CAPTION 
EXSTYLE WS_EX_CAPTIONOKBTN
CAPTION "BUP_Test 정보"
FONT 9, "MS Sans Serif"
BEGIN
    ICON         IDI_BUP_TEST,IDC_STATIC_1,12,12,21,20,SS_REALSIZEIMAGE
    LTEXT        "BUP_Test 버전 1.0",IDC_STATIC_2,48,12,66,8,SS_NOPREFIX
    LTEXT        "Copyright (C) 2009",IDC_STATIC_3,48,24,66,8
END

/////////////////////////////////////////////////////////////////////////////
//
// DESIGNINFO
//

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO DISCARDABLE 
BEGIN
    IDD_ABOUTBOX, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 149
        TOPMARGIN, 7
        BOTTOMMARGIN, 122
    END

    IDD_ABOUTBOX_WIDE, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 203
        TOPMARGIN, 7
        BOTTOMMARGIN, 122
    END
END
#endif    // APSTUDIO_INVOKED

#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//
1 TEXTINCLUDE  
BEGIN
    "resourceppc.h\0"
END

2 TEXTINCLUDE  
BEGIN
    "#define APSTUDIO_HIDDEN_SYMBOLS\r\n"
    "#include ""windows.h""\r\n"
    "#include ""resdefce.h""\r\n"
    "#undef APSTUDIO_HIDDEN_SYMBOLS\r\n"
    "\0"
END

3 TEXTINCLUDE  
BEGIN
    "\r\n"
    "#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_KOR)\r\n"
    "LANGUAGE 18, 1\r\n"
    "#pragma code_page(949)\r\n"
    "#include ""BUP_Testppc.rc2""  // Microsoft Visual C++ 이외의 다른 도구에서 편집한 리소스입니다.\r\n"
    "#endif\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED

/////////////////////////////////////////////////////////////////////////////
//
// 문자열 테이블
//
STRINGTABLE  
BEGIN
   IDC_BUP_TEST   "BUP_TEST"
   IDS_APP_TITLE    "BUP_Test"
   IDS_OK	"OK"
   IDS_HELP	"Help"
END

#endif
/////////////////////////////////////////////////////////////////////////////


#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE 3 리소스에서 생성되었습니다.
//

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_KOR)
LANGUAGE 18, 1
#pragma code_page(949)
#include "BUP_Testppc.rc2"  // Microsoft Visual C++ 이외의 다른 도구에서 편집한 리소스입니다.
#endif

/////////////////////////////////////////////////////////////////////////////
#endif    // APSTUDIO_INVOKED가 아닙니다.
