#resname UI.res
#compress on

;/* Sound */
;Sound/TouchOK.wav
;Sound/Alarm.wav
;Sound/open1.wav

;/* GLOBE */
;Globe\TGWorld.img
;Globe\TGLakes.lyr
;Globe\TGRivers.lyr
;Globe\TGStates.lyr
;Globe\TGBound.lyr
;Globe\TGWorld.lyr

; /* FONT */
#compress off
;tahoma.ttf
;NanumGothicBold.ttf
notokr-medium.ttf
;notokr-bold.ttf
#compress on

;/* SFX_MAIN */
Scr_main_bg.img
Scr_main_btn_1_n.img
Scr_main_btn_1_p.img
Scr_main_btn_2_n.img
Scr_main_btn_2_p.img
Scr_main_btn_3_n.img
Scr_main_btn_3_p.img
Scr_main_btn_res_1_n.img
Scr_main_btn_res_2_n.img
Scr_main_btn_res_p.img

;/* SFX_SETTING */
Scr_main_setting.img
Scr_set_title.img
Scr_set_distance.img
Scr_set_backlight.img
Scr_set_calculate.img
Scr_set_bright_1.img
Scr_set_bright_2.img
Scr_set_bright_3.img
Scr_set_bright_4.img
Scr_set_bright_5.img
Scr_set_btn_15_n.img
Scr_set_btn_15_p.img
Scr_set_btn_30_n.img
Scr_set_btn_30_p.img
Scr_set_btn_45_n.img
Scr_set_btn_45_p.img
Scr_set_btn_check_on.img
Scr_set_btn_check_off.img

;/* SFX_01 */
Scr_1_bg.img
Scr_1_desc_1_content.img
Scr_1_desc_2_content.img
Scr_1_divid_center.img
Scr_1_divid_title.img
Scr_1_question_content.img
Scr_1_question_title.img
Scr_1_recover_title.img
Scr_1_result_no_contents.img
Scr_1_result_ok_contents.img
Scr_1_divid_btn_center_n.img
Scr_1_divid_btn_center_p.img
Scr_1_recover_btn_center_n.img
Scr_1_recover_btn_center_p.img

;/* SFX_02 */
Scr_2_desc_left_content.img
Scr_2_desc_right_content.img
Scr_2_left_title.img
Scr_2_question_left.img
Scr_2_question_read.img
Scr_2_read_content.img
Scr_2_read_content_big.img
Scr_2_read_title.img
Scr_2_result_1_content.img
Scr_2_result_2_content.img
Scr_2_result_title.img
Scr_2_right_content.img
Scr_2_right_title.img
Scr_2_calculate_content_b.img
Scr_2_calculate_content_w.img
Scr_2_left_btn_center_n.img
Scr_2_left_btn_center_p.img
Scr_2_read_btn_center_n.img
Scr_2_read_btn_center_p.img
Scr_2_result_2_content.img
Scr_2_right_btn_center_n.img
Scr_2_right_btn_center_p.img

;/* SFX_03 */
Scr_3_bg.img
Scr_3_bg_home.img
Scr_3_select_special_n.img
Scr_3_select_special_p.img
Scr_3_select_vision_n.img
Scr_3_select_vision_p.img
Scr_3_special_btn_1_n.img
Scr_3_special_btn_1_p.img
Scr_3_special_btn_2_n.img
Scr_3_special_btn_2_p.img
Scr_3_special_btn_3_n.img
Scr_3_special_btn_3_p.img
Scr_3_special_btn_4_n.img
Scr_3_special_btn_4_p.img
Scr_3_special_btn_5_n.img
Scr_3_special_btn_5_p.img
Scr_3_special_btn_6_n.img
Scr_3_special_btn_6_p.img
Scr_3_special_btn_7_n.img
Scr_3_special_btn_7_p.img
Scr_3_special_img_1.img
Scr_3_special_img_2.img
Scr_3_special_img_3.img
Scr_3_special_img_4.img
Scr_3_special_img_5.img
Scr_3_special_img_6.img
Scr_3_special_img_7.img
Scr_3_special_img_test_4_big.img
Scr_3_special_img_test_2.img
Scr_3_special_img_test_3.img
Scr_3_special_img_test_5.img
Scr_3_special_img_test_6.img
Scr_3_special_img_test_7.img


Scr_3_special_result.img
Scr_3_vision_btn_1_n.img
Scr_3_vision_btn_1_p.img
Scr_3_vision_btn_2_n.img
Scr_3_vision_btn_2_p.img
Scr_3_vision_btn_3_n.img
Scr_3_vision_btn_3_p.img
Scr_3_vision_btn_4_n.img
Scr_3_vision_btn_4_p.img
Scr_3_vision_btn_5_n.img
Scr_3_vision_btn_5_p.img
Scr_3_vision_img_1.img
Scr_3_vision_img_2.img
Scr_3_vision_img_3.img
Scr_3_vision_img_4.img
Scr_3_vision_img_5.img
Scr_3_vision_img_test_1.img
Scr_3_vision_img_test_2.img
Scr_3_vision_img_test_3.img
Scr_3_vision_img_test_4.img
Scr_3_vision_img_test_5.img

;/*Default images*/
Scr_def_btn_check_n.img
Scr_def_btn_check_p.img
Scr_def_btn_home_n.img
Scr_def_btn_home_p.img
Scr_def_btn_home_3_n.img
Scr_def_btn_home_3_p.img
Scr_def_btn_info_n.img
Scr_def_btn_info_p.img
Scr_def_btn_no_n.img
Scr_def_btn_no_p.img
Scr_def_btn_ok_n.img
Scr_def_btn_ok_p.img
Scr_def_btn_recheck_n.img
Scr_def_btn_recheck_p.img
Scr_def_btn_ext_n.img
Scr_def_btn_ext_p.img
Scr_def_folder.img
Scr_def_btn_exit_n.img
Scr_def_btn_exit_p.img
Scr_def_btn_left.img
Scr_def_btn_left_s.img
Scr_def_btn_right.img
Scr_def_btn_right_s.img
Scr_def_btn_back_n.img
Scr_def_btn_back_p.img
Scr_def_btn_ext_big_n.img
Scr_def_btn_ext_big_p.img
Scr_def_battery.img
Scr_def_battery_b.img
Scr_def_battery_r.img
Scr_def_btn_bottom_black.img
Scr_def_btn_bottom_white.img

;/* Information */
Scr_info_1_divid_1.img
Scr_info_1_divid_2.img
Scr_info_1_divid_3.img
Scr_info_1_pen_divid_1.img
Scr_info_1_pen_divid_2.img
Scr_info_1_pen_recover_1.img
Scr_info_1_pen_recover_2.img
Scr_info_1_penlight_1.img
Scr_info_1_penlight_2.img
Scr_info_1_recover_1.img
Scr_info_1_recover_2.img
Scr_info_2_eyes_1.img
Scr_info_2_eyes_2.img
Scr_info_2_read_1.img
Scr_info_2_read_2.img
Scr_info_3_special_1_1.img
Scr_info_3_special_1_2.img
Scr_info_3_special_2.img
Scr_info_3_special_3.img
Scr_info_3_special_4_1.img
Scr_info_3_special_4_2.img
Scr_info_3_special_5.img
Scr_info_3_special_6.img
Scr_info_3_special_7.img
Scr_info_3_vision_1.img
Scr_info_3_vision_2.img
Scr_info_3_vision_3.img
Scr_info_3_vision_4.img
Scr_info_3_vision_5.img

